{% extends "base.html" %}
{% block content %}
<div class="container mx-auto px-10 py-12 p-5">
    <div class="bg-white shadow-md rounded-lg p-8 md:w-2/3 lg:w-1/2 mx-auto">
        <h2 class="text-2xl font-semibold text-gray-800 mb-6">Password Reset Request Sent</h2>
        <p class="text-gray-600 mb-4 p-5">An email with instructions to reset your password has been sent to the email address you provided. Please check your email and follow the instructions.</p>
        
        <!-- Additional instructions -->
        <p class="text-gray-600">If you don't receive the email within a few minutes, please check your spam or junk folder.</p>
        
        <!-- Optional button to go back to login -->
        <div class="mt-8 text-center">
            <a href="{% url 'login' %}" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition duration-300 ease-in-out">Go back to login</a>
        </div>
    </div>
</div>
{% endblock %}
